<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h2>Registeration Details</h2></center>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>NAME</th>
            <th>MOBILE</th>
            <th>EMAIL</th>
            <th>IMAGE</th>
            <th>USERNAME</th>
            <th>PASSWORD</th>
            <th>CONFIRMPASSWORD</th>
        </tr>
    </thead>
    {% for i in details %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.mobile }}</td>
            <td>{{ i.email }}</td>
            <td>
                <img src="{{ i.image.url }}" width="50px",height="50px">
            </td>
            <td>{{ i.username }}</td>
            <td>{{ i.password }}</td>
            <td>{{ i.confirmpassword }}</td>
            <td>
                <form action="{% url 'editpage' dataid=i.id %}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
             <td>
                 <form action="{% url 'deletedata' dataid=i.id %}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                 </form>
             </td>



        </tr>
    {% endfor %}

</table>

</body>
</html>
{% endblock %}